@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.vr {
  border-left: 1px solid #faf8f8; /* You can customize the color and style */
  height: 18px; /* Adjust the height as needed */
  width: 1px;
}